<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>123 Main Street<br>Anytown, Lagos 12345<br>Phone: (123) 456-7890<br>Email: weatherinfo@example.com</p>
      </div>
      <div class="col-md-4">
        <h4>Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/about">Weather Map</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="text-center">&copy; 2023 Example Inc. All rights reserved.</p>
      </div>
    </div>
  </div>