<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>123 Main Street<br>Anytown, Lagos 12345<br>Phone: (123) 456-7890<br>Email: info@weathersite.com</p>
      </div>
      <div class="col-md-4">
        <h4>Links</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="interactive-weather-map.html">Weather Map</a></li>
          <li><a href="wind-chill-calculator.html">Wind Chill Calculator</a></li>
          <li><a href="weather-community.html">WeatherSite Community</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="privacy-policy.html">Privacy Policy</a></li>
        </ul>
      </div>
      <br>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="padding"><span>Attributions:</span> <a href="https://openweathermap.org/" target="_blank">
      OpenWeatherMap...</a><a href="https://leafletjs.com/" target="_blank">Leaflet Library...</a> 
      <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap...</a> <a href="https://unsplash.com" target="_blank">Unsplash...
      </a> <a href="https://javascript.info" target="_blank">JAVASCRIPT.INFO</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="text-center">&copy; 2023 WeatherSite. All rights reserved.</p>
      </div>
    </div>
  </div>